﻿@model IEnumerable<PartyInvites.Models.LoginModel>
@{
    // ViewData["Title"] = "ListLogins";
}

<link href="~/css/first.css" rel="stylesheet" />
<link href="~/css/second.css" rel="stylesheet" />
<script src="~/js/third.js"></script>
<div class="panel-body">
    <p>Time:@DateTime.Now.ToString("HH:mm:ss")</p>
    <h2>Here is lis of people online</h2>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr><th>ID</th><th>Login Name</th></tr>
        </thead>
        <tbody>
            @foreach (PartyInvites.Models.LoginModel l in Model)
            {
                <tr><td>@l.id</td><td>@l.Username</td></tr>
            }
        </tbody>
    </table>
</div>
