﻿@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<div class="row">
    <form asp-action="Login" method="post">
        <p>
            <label asp-for="Username">
                Username:
            </label>
            <input asp-for="Username" />
        </p>
        <p>
            <label asp-for="Password">
                Password:
            </label>
            <input asp-for="Password" />
        </p>
        <button type="submit">Submit</button>
    </form>

</div>
