﻿@model LoginModel
@{

}

<p>
    <h1>Thank you, @Model.Username!</h1>
</p>
<p>
    Click <a asp-action="ListLogins">here</a> to see who is online.
</p>

<p>
    Click <a asp-action="Index">here</a> to do any action.
</p>
